/PRN315_GRUPO_6/nbproject/private/
/PRN315_GRUPO_6/PRN315_GRUPO_6-war/nbproject/private/
/PRN315_GRUPO_6/PRN315_GRUPO_6-ejb/nbproject/private/
/PRN315_GRUPO_6/build/
/PRN315_GRUPO_6/dist/
/PRN315_GRUPO_6/PRN315_GRUPO_6-ejb/dist/
/PRN315_GRUPO_6/PRN315_GRUPO_6-ejb/build/
/PRN315_GRUPO_6/PRN315_GRUPO_6-war/dist/
/PRN315_GRUPO_6/PRN315_GRUPO_6-war/build/